<header class="site-header">
        <a class="brand" routerLink="/">
            <img src="/logo.png" alt="logo Digiforma" class="brand-logo">
            <p class="brand-name">Digiforma</p>
        </a>

        <nav class="main-nav" aria-label="Navigation principale">
            <a routerLink="/classes">Classes</a>
            <a routerLink="/cours">Cours</a>
            <a routerLink="/activites">Activités</a>
            <a routerLink="/suivi">Suivi</a>
            <a routerLink="/messagerie">Messages</a>
        </nav>

        <div class="header-actions">
            <a class="profile" routerLink="/profil">Profil</a>
        </div>
</header>