.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--DarkBlue);
    padding: 20px;
    border-radius: 20px;
}

.card-img {
    width: 300px;
    height: 300px;
    display: block;
    object-fit: cover;
    border-radius: 15px;
}

.btn-action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}