<form class="form" ngSubmit="onSubmit()">

    <div class="field">

        <label class="label" for="email">Email</label>
        <input class="input" id="email" type="email" ngModel name="email" placeholder="exemple@mail.com" required>

    </div>

    <div class="field">

        <label class="label" for="password">Password</label>
        <input class="input" id="password" type="password" ngModel name="password" placeholder="Mot de passe" required>

    </div>
    
    <button class="btn" type="submit">Se connecter</button>

</form>