<div class="container">
    <div class="card-container">

        <img class="card-img" src="/logo.png" alt="image">

        <h2 class="card-title title-card">{{ progressCard?.courseTitle ?? 'Cours sans titre' }}</h2>
        <p class="card-description">Classe : {{ progressCard?.className ?? 'Non renseignée' }}</p>
        <p class="card-description">Progression : {{ progressCard?.progressPercent ?? 0 }}%</p>
        <p class="card-description">Note : {{ progressCard?.progressGrade ?? 'Non renseignée' }}</p>

        <div class="btn-action">
            <button class="btn" routerLink="/cours-details">Voir cours</button>
        </div>
    </div>
</div>