<div class="card">
    <div class="text">
        <h1 class="card-title">Sélection de l'activité</h1>
    </div>

    @if (vm$ | async; as vm) {
    <div class="container">
        @if (canEdit) {
        <button class="btn btn-create" routerLink="/nouvelle-activite">+</button>
        }
        @for (activity of vm.activities; track activity.id) {
        <app-activitie [activity]="activity"></app-activitie>
        }
        @if (!vm.activities.length) {
        <p>Aucune activité disponible pour le moment.</p>
        }
    </div>
    }

</div>