<table class="user-table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Rôle</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Dupont</td>
            <td>Jean</td>
            <td>jean.dupont@example.com</td>
            <td>06 06 06 06 06</td>
            <td>Admin</td>
        </tr>

         <tr>
            <td>Dupont</td>
            <td>Jean</td>
            <td>jean.dupont@example.com</td>
            <td>06 06 06 06 06</td>
            <td>Admin</td>
        </tr>
    </tbody>
</table>